<%- include('../layout/header.ejs') %>
    <h1><%= title%></h1>
    <table class="table table-products">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <div class="no1">
                
                <div>
                    <select name="sort_by" id="products_sort_by">
                        <option value="">-----Tanla-----</option>
                        <option value="price high" <%if(locals.sortby === 'price high') {%> selected <%}%>>Price: High to low </option>
                        <option value="price low" <%if(locals.sortby === 'price low') {%> selected <%}%>>Price: Low to high</option>
                        <option value="seen high" <%if(locals.sortby === 'seen high') {%> selected <%}%>> Popular</option>  
                        <option value="created high" <%if(locals.sortby === 'created high') {%> selected <%}%>> Newest product</option>  
                    </select>
                </div>
              </div>
              
        <% products.forEach((item) => { %>
            <tr>
                <td><%= item.name %></td>
                <td><img style="width: 100px;" src="<%= item.image %>"></td>
                <td>
                    <a href="/admin/products/<%= item.id%>">Edit</a>
                    <a href="/admin/products/<%= item.id%>" data-productId="<%= item.id%>" class="delete-button">Delete</a>
                </td>
            </tr>
        <%}) %>
        </tbody>
        </table>

        <form id="deleteForm" method="DELETE" action="">
        </form>
<%- include('../layout/footer.ejs') %>