<%- include('../layout/header.ejs') %>
<h1><%= title %></h1>

<p><b>Welcome to types page</b></p> 
<div class="form-controls">
    <table class="table table-products">
        <thead>
            <th>Types</th>
            <th>Parent Types</th>
            <th>Edit Type</th>
            <th>Using Number</th>
        </thead>
        <tbody>
            <% productTypes.forEach((item) => { 
                const isParentType = productTypes.some(pt => pt.parent_type && Number(pt.parent_type) === Number(item.id));
                console.log('isParentType:', item.type, 'Parent Type:', item.parent_type, 'Result:', isParentType);
            
                const isUsed = +item.used > 0 || isParentType;
            %>
            <tr>
                <td><%= item.type %></td>
                <% if (parentType[item.parent_type]) { %>
                    <td><%= parentType[item.parent_type] %></td>
                <% } else { %>
                    <td>-</td>
                <% } %>    
                <td>
                    <a href="/admin/types/<%= item.id %>">Edit</a>
                  
                    <% if (!isUsed) { %>
                        <a href="/admin/types/<%= item.id %>" data-typeid="<%= item.id %>" class="delete-type-btn">Delete</a>
                    <% } else { %>
                        <a href="#" class="delete-type-btn disabled-link">Delete</a>
                    <% } %>    
                </td>
                <td><%= item.used %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>

<%- include('../layout/footer.ejs') %>
